body {
    font-family: Copperplate / Copperplate Gothic Light, Gill Sans / Gill Sans MT, sans-serif;
}

#racun {
    font-weight: bold;
    font-size: 22px;
}

#trip {
}

#controls {
    font-size: 16px;
}

#controls table td {
    border: none;
    padding: 5px;
}

#summary {
    font-size: 18px;
    border: 1px #f00;
}

#what {
}

#amount {
}

#guests {
}

#tguests {
    font-size: 18px;
}

#paidby {
    font-size: 16px;
}

#femail {
    font-size: 18px;
}

#fpaidby {
    font-size: 14px;
}

#fcurrency {
    font-size: 14px;
}

.rightjustified {
    text-align: right;
}

.lefty {
    text-align: right;
}
.righty {
    text-align: left;
}

